*{
    font-family: 'Roboto', sans-serif;
}

.nav{
    height: auto;
    padding: 0 1em;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    margin: 0.63em;
    font-weight: 600;
    color: #fff;
}

.nav-links{
    list-style-type: none;
    margin: 0.63em 1em;
    font-weight: normal;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: beige;
    margin: 0.9em;
}

.active{
    font-weight: bold;
    color: #fff;
}

.btn{
    color: #fff;
    background-color: rgb(121, 250, 233);
    font-weight: bold;
    font-size: 1em;
    border: none;
    box-shadow: 0.2em 0.3em 0.1em rgb(129, 127, 127);
}